/* ---VARIABLES---------------------------------------------- */
:root{
    /* --name: value */
    --bg-color: #fff;
    --bg-color-2: #0EB4C1;
    --btn-bg-color: #DE2E54;
    --header-color: #E5E5E5;
    --main-text-color: #444;
    --main-text-color-2: #222;
    --main-text-black: #000;
    --main-text-white: #fff;
    --main-font-family: "Open Sans", sans-serif;
    --main-font-weight: 400;
    --main-font-size: 16px;
}
/* ---CONTAINER---------------------------------------------- */
.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}
html,
body{
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
/* ---SECTIONS---------------------------------------------- */


/* MEDIA QUERY 2560px 1440px 1024px 768px 425px 375px 320px*/