/* ---VARIABLES---------------------------------------------- */
:root{
    /* --name: value */
    --bg-color: #fff;
    --bg-color-2: #0EB4C1;
    --btn-bg-color: #DE2E54;
    --header-color: #E5E5E5;
    --main-text-color: #444;
    --main-text-color-2: #222;
    --main-text-black: #000;
    --main-text-white: #fff;
    --main-font-family: "Open Sans", sans-serif;
    --main-font-weight: 400;
    --main-font-size: 16px;
}
/* ---CONTAINER---------------------------------------------- */
.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: calc(22 / 15 * 100%);
    letter-spacing: 2px;
    color: var(--main-text-white);
    text-decoration: none;
    background-color: var(--btn-bg-color);
    border-radius: 8px;
    padding: 12px 24px;
    border: 2px solid var(--btn-bg-color);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
html,
body{
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
/* ---SECTIONS---------------------------------------------- */

/* HEADER SECTION */
.header {
   background-color: var(--header-color);
}
.header__container {
    max-height: 50px;
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color-2);
    font-weight: 600;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    transition: all 0.2s ease-in-out;
}
.header__logo:hover{
    color: var(--btn-bg-color);
}
.header__logo:active{
    opacity: 0.7;
}
.header__logo-text {
    margin: 0px 0px 0px 16px;
}
.nav {
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
}
.nav__item:not(:last-child){
    margin: 0px 32px 0px 0px;
}
.nav__link {
    text-decoration: none;
    color: var(--main-text-color-2);
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}
.nav__link:hover{
    color: var(--btn-bg-color);
}
.nav__link:active{
    color: var(--btn-bg-color);
    opacity: 0.7;
}
.header__btn {
    
}
.header__btn:hover{
    background-color: transparent;
    color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}
.header__btn:active{
    background-color: var(--btn-bg-color);
    color: var(--main-text-white);
    border-color: var(--btn-bg-color);
    opacity: 0.7;
}

/* HERO SECTION */
.hero {
    background-color: var(--bg-color-2);
    min-height: 533px;
}
.hero__container {
}
.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0px 0px 0px;
}
.hero__column {
}
.hero__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(43 / 36 * 100%);
    color: var(--main-text-white);
    margin: 0px 0px 16px 0px;
}
.hero__text {
    max-width: 440px;
    font-size: 18px;
    line-height: calc(27 / 18 * 100%);
    color: var(--main-text-white);
    margin: 0px 0px 48px 0px;
}
.hero__btn {
}
.hero__btn:hover{
    opacity: 0.8;
}
.hero__btn:active{
    opacity: 0.6;
}
.hero__box-img {
}
.hero__img {
}
/* SERVICES SECTION */
.services {
    padding: 120px 0;
}
.services__container {
}
.services__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(43 / 36 * 100%);
    color: var(--main-text-black);
    text-align: center;
    margin: 0px 0px 56px 0px;
}
.services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 72px 0px;
}
.services__item {
    max-width: 864px;
    display: flex;
    align-items: center;
}
.services__item:not(:last-child){
    margin: 0px 0px 80px 0px;
}
.services__img {
    margin: 0px 64px 0px 0px;
}
.services__info {
}
.services__info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28.8 / 24 * 100%);
    color: var(--main-text-color-2);
    margin: 0px 0px 24px 0px;
}
.services__info-text {
    line-height: calc(24 / 16 * 100%);
}
.services__box-btn{
    text-align: center;
}
.services__btn {
}
.services__btn:hover{
    background-color: transparent;
    color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}
.services__btn:active{
    background-color: var(--btn-bg-color);
    color: var(--main-text-white);
    border-color: var(--btn-bg-color);
    opacity: 0.6;
}

/* MEDIA QUERY 2560px 1440px 1024px 768px 425px 375px 320px*/